@model UserCommentsDto
<style>
    .rating {
        width: 90px;
        unicode-bidi: bidi-override;
        direction: rtl;
        text-align: center;
        position: relative;
    }

        .rating > label {
            float: right;
            display: inline-block;
            padding: 0;
            margin: 0;
            position: relative;
            width: 1.1em;
            cursor: pointer;
            color: #000;
        }

    .hide {
        display: none;
    }

    .clear {
        float: none;
        clear: both;
    }

    .rating > label:hover,
    .rating > label:hover ~ label,
    .rating > input.radio-btn:checked ~ label {
        color: transparent;
    }

        .rating > label:hover:before,
        .rating > label:hover ~ label:before,
        .rating > input.radio-btn:checked ~ label:before,
        .rating > input.radio-btn:checked ~ label:before {
            content: "\2605";
            position: absolute;
            left: 0;
            direction: rtl;
            color: #FFD700;
        }
</style>
<form class="row contact_form" asp-action="comment" method="post" role="form">
    <h4 style="margin-left:10px">أضف رأيك</h4>
    <p class="mr-4 ml-5">تقييمك :</p>
    @*<div class="rating">
        <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" />

        <label for="star5" onclick="setValuu(5)"><i class="fa fa-star fa-lg"></i></label>
        <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" />
        <label for="star4" onclick="setValuu(4)"><i class="fa fa-star fa-lg"></i></label>
        <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" />
        <label for="star3" onclick="setValuu(3)"><i class="fa fa-star fa-lg"></i></label>
        <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" />
        <label for="star2" onclick="setValuu(2)"><i class="fa fa-star fa-lg"></i></label>
        <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" />
        <label for="star1" onclick="setValuu(1)"><i class="fa fa-star fa-lg"></i></label>
        <div class="clear"></div>
    </div>*@
    <input id="rating" asp-for="Rating" type="hidden" />
    <div class="mt-1">
        <div class="rateit" data-rateit-value="" data-rateit-readonly="false" id="rateitval"></div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="UserFullName">الاسم بالكامل</label>
            <input type="text" class="form-control" asp-for="UserFullName" id="UserFullName" placeholder="الاسم بالكامل" />
            <span asp-validation-for="UserFullName" class="text-danger"></span>

        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="UserEmail">البريد الالكترونى</label>

            <input type="email" class="form-control" asp-for="UserEmail" id="UserEmail" placeholder="البريد الالكترونى" />
            <span asp-validation-for="UserEmail" class="text-danger"></span>

        </div>
    </div>
    @*<div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" asp-for="Comments.ph" name="number" placeholder="رقم الهاتف" />
            </div>
        </div>*@
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="CommentText">التقييم والمراجعه</label>
            <textarea class="form-control" asp-for="CommentText" id="CommentText" rows="1" placeholder="التقييم والمراجعه"></textarea>
            <span asp-validation-for="CommentText" class="text-danger"></span>

        </div>
    </div>
    <input type="hidden" asp-for="RequestServiceId" />
    <div class="col-md-12 text-right">
        <button type="submit" value="submit" class="btn_3">
            تأكيد
        </button>
    </div>
</form>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    //function setValuu(a) {
    //    console.log(a);
    //    document.getElementById("rating").value = a;
    //}
    $("#rateitval").click(function () {

        document.getElementById("rating").value = $(this).rateit('value');
    });
   
</script>
