@model ReviewDto

@{
    ViewData["Title"] = "التقيمات";
}
@section Styles{ 
<style>
    .modal-backdrop.show {
        opacity: .2;
    }
</style>
}
    <section class="breadcrumb">
        <div class="custom-shape-divider-bottom-1604910460">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
                      class="shape-fill"></path>
            </svg>
        </div>
        <div class="d-flex row justify-content-around align-items-center">
            <img class="image" src="~/img/7628.jpg" style="width: 50%; border-radius: 50%;">
            <div>
                <h2 class="mb-5"><span class="text-success" style="font-size: larger;">التميز</span> لنقل الأثاث في نفس اليوم</h2>
                <h5 class="mb-3 pr-2">
                    استخدم موقع أو تطبيق <span class="text-success" style="font-size: larger;">التميز</span> لنقل أثاثك بسهولة وأمان
                </h5>
                <!--<h6>لاختيار المدينة التي تريد نقل أثاثك اليها <a href="#">اضغط هنا</a></h6>-->
                <div><a class="btn btn-success btn-block btn-lg" role="button" href="tracking.html">احجز الآن</a></div>
            </div>
        </div>
    </section>
<!-- breadcrumb start-->
<!--================End Home Banner Area =================-->
<!--================Single Product Area =================-->
<!--================End Single Product Area =================-->
<!--================Product Description Area =================-->
<div class="col-5" style="margin:auto">
    <img src="~/img/feature/feature_4.png" alt="">
</div>
<h1 data-serviceId="@ViewBag.serviceId">sd;jg;sldg @ViewBag.serviceId  </h1>
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                   aria-selected="true">الوصف</a>
            </li>
            @*<li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                   aria-selected="false">المواصفات</a>
            </li>*@
            <li class="nav-item">
                <a data-toggle="modal" data-target="#myModal" class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                   aria-selected="false" >
                   طلب خدمة
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
                   aria-selected="false"> التقييمات والمراجعه</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p>
                    عزيزي العميل ، سواء كنت في شركتك أو في معرضك أو في منزلك أو في أي مكان في داخل الرياض أو خارج
                    الرياض ، فنحن في شركة التميز نقدم
                    لك خدمات نقل وتخزين اثاث احترافية يقوم بها فنيون ونجارون وعمال ذوي خبرة عالية في مجال نقل
                    الاثاث ويعملون فيه منذ سنوات عديدة، ويعلمون جيداً أهمية كل قطعة أثاث عند عملائنا، ومن ثم يقدمون
                    أعلى مستوى من الخدمة سواء في فك جميع قطع الاثاث بجميع أنواعه ثم تغليف الاثاث بحسب نوعية كل قطعة
                    حيث أن كل قطعة من العفش لها تغليف قد يختلف عن القطعة الأخرى، ثم نقل الاثاث بكل احترافية
                    ومهنية عالية إلى سيارات نقل العفش التي لدينا، ثم إعادة تركيب الاثاث بكل سرعة وإتقان عند
                    الوصول إلى المكان الذي سيتم نقل العفش إليه أو إلى مستودعات تخزين الاثاث لدينا والتي بها
                    أعلى مستوى من الخدمة والتقنية لحفظ عفشك بكل أمان وأريحية مع الضمان.
                </p>
                <p>
                    عزيزي العميل، دعنا نعرض عليك باختصار مميزات شركتنا، والتي جعلت منا
                    بفضل الله صرحاً قائماً في مجال نقل العفش بالرياض وخارج الرياض وأيضاً مجال تخزين الاثاث بالرياض ..

                </p>
                <div class="row">
                    <div class="col-4">
                        <h3>1) فنيون عمال نقل عفش محترفون</h3>
                        <p>
                            بفضل الله تلك هي الميزة التي بدأنا العمل بها وأكسبتنا سمعتنا في سوق نقل الاثاث بالرياض
                            ، حيث أن لدينا
                            فنيون وعمال نقل اثاث على قدر عالي جداً من الخبرة اكتسبوها عبر سنوات عملهم الطويلة في هذا
                            المجال الصعب، ومن ثم أصبح لفريق عملنا قدرة عالية وسلاسة مذهلة في التعامل مع جميع قطع
                            الاثاث المختلفة بدون أدنى مشكلة سواء كانت مكيفات أو نجف أو مطابخ أو غرف نوم أو دواليب
                            أو اثاث ايكيا أو أياً ما كان من قطع الاثاث المختلفة والمتعددة.
                        </p>
                    </div>
                    <div class="col-4">
                        <h3>2)الشفافية والأخلاق المهنية العالية</h3>
                        <p>
                            بالفعل نحن لا نحب أن نمدح في أنفسنا ، ولكن تلك كانت وما زالت بفضل
                            الله شهادة عملائنا الأعزاء فينا بعد أن جربوا التعامل معنا، فنحن كـ شركة
                            نقل عفش بالرياض ذات مصداقية وتخشى على سمعتها من أي شائبة، نسعى دائماً
                            إلى الشفافية والوضوح والصدق في التعامل مع المحافظة على إرضاء عملائنا
                            بكل السبل لنقدم لهم أعلى قدر من الرقي في التعامل وخدمة العملاء لأننا نحب
                            أن يكون تعاملنا مع عملائنا ليس مجرد صفقة وقتية وإنما معرفة وصداقة دائمة.
                        </p>
                    </div>
                    <div class="col-4">
                        <h3>3) ارخص نقل عفش بالرياض</h3>
                        <p>
                            نحمل عنك عناء نقل العفش بالرياض أو خارج الرياض ونقدم لجميع عملائنا الأعزاء ذلك بكل حب وبأسعار
                            نقل اثاث لا مثيل لها ، وتميزنا عن كل شركات نقل الاثاث بالرياض .. نعمل لأجلكم ولأجل راحتكم ..
                            ويقابل ذلك خدمات احترافية يقدمها فنيون وعمال ماهرون يعملون بكل إخلاص وصدق وجهد
                            من أجل تأدية أي مهمة تتعلق بـ نقل عفش بالرياض أو تغليف اثاث بالرياض أو تخزين
                            اثاث بالرياض بأعلى قدر من الاحترافية والمهنية للحصول على رضاء عملائنا الكرام.
                        </p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive" style="overflow-x: hidden;">
                    @await Html.PartialAsync("_Service", Model.ServiceDto);
                </div>
            </div>

            @await Html.PartialAsync("_review", Model)
        </div>
    </div>
</section>

@* *************************** *@
<div class="container">
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">خدمة نقل أثاث</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    @await Html.PartialAsync("_Service", Model.ServiceDto)
                </div>

                <!-- Modal footer -->
               
            </div>
        </div>
    </div>

</div>
