.customSelect {
   position: relative;
   font-family: Arial, Helvetica, sans-serif;
}
.customSelect select {
   display: none;
}
.select-selected {
   background-color: rgb(78, 78, 78);
}
.select-selected:after {
   position: absolute;
   content: "";
   top: 14px;
   left: 10px;/*right: 10px;*/
   width: 0;
   height: 0;
   border: 6px solid transparent;
   border-color: #fff transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
   border-color: transparent transparent #fff transparent;
   top: 7px;
}
.select-items div, .select-selected {
   color: #ffffff;
   padding: 5px 5px 5px 18px;/*padding: 8px 16px;*/
   border: 1px solid transparent;
   cursor: pointer;
   user-select: none;
}
.select-items {
   position: absolute;
   background-color: rgb(78, 78, 78);
   top: 100%;
   left: 0;
   right: 0;
   z-index: 99;
}
.select-hide {
   display: none;
}
.select-items div:hover, .sameSelected {
   background-color: rgba(0, 0, 0, 0.1);
}