
<head>
    <style>
        
        a {
            text-decoration: none;
            color: palevioletred;
        }

            a:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <div class="mainbox">
        <div class="err">4</div>
        <i class="far fa-question-circle fa-spin"></i>
        <div class="err2">4</div>
        <div class="msg">يتعذر الوصول الى المتصفح. تأكد من اتصال جهازك بالانترنت . أو من الممكن عدم توفر الصفحة المطلوبه فى الوقت الحالى<p>الذهاب الى <a href="#">الرئيسية</a> و المحاولة مرة اخرى.</p></div>
    </div>
</body>