
@section Styles{ 

    <style>

        .mainbox {
            margin: auto;
            height: 350px;
            width: 600px;
            position: relative;
            overflow:hidden;
        }

        .err {
            color: red;
            font-family: 'Nunito Sans', sans-serif;
            font-size: 11rem;
            position: absolute;
            left: 23%;
            top: -10%;
        }

        .far {
            position: absolute;
            font-size: 8.5rem;
            left: 42%;
            top: 5%;
            color: red;
        }

        .err2 {
            color: red;
            font-family: 'Nunito Sans', sans-serif;
            font-size: 11rem;
            position: absolute;
            left: 68%;
            top: -10%;
        }

        .msg {
            text-align: center;
            font-family: 'Nunito Sans', sans-serif;
            font-size: 1.6rem;
            position: absolute;
            left: 16%;
            top: 50%;
            width: 75%;
        }
            .msg p {
                font-size: 1.6rem;
            }
        a {
            text-decoration: none;
            color: white;
        }

            a:hover {
                text-decoration: underline;
                text-underline-position: under;
            }
            @@media only screen and (max-width: 570px) {
                .err {
                    
                    font-size: 8rem;
                    left: 23%;
                    top: -10%;
                }

                .far {
                    font-size: 6.5rem;
                    left: 42%;
                    top: 0%;
                }

                .err2 {
                    font-size: 8rem;
                    left: 68%;
                    top: -10%;
                }
                .msg {
                    font-size: 1.5rem;
                    left: 5%;
                    top: 45%;
                    width: 90%;
                }

                .mainbox {
                    height: 250px;
                    width: 100%
                }
                .msg p {
                    font-size: 1.5rem;
                }
            }
       
        @@media only screen and (max-width: 450px) {
            .err {
                font-size: 6rem;
                left: 25%;
                top: -10%;
            }

            .far {
                font-size: 4.5rem;
                left: 42%;
                top: 0%;
            }

            .err2 {
                font-size: 6rem;
                left: 65%;
                top: -10%;
            }
            .msg {
                font-size: 1.5rem;
                left: 5%;
                top: 37%;
                width: 90%;
            }

            .mainbox {
                height: 250px;
                width: 100%
            }
            .msg p {
                font-size: 1.4rem;
            }
        }
        @@media only screen and (max-width: 350px) {
            .err {
                font-size: 4.5rem;
                left: 25%;
                top: -10%;
            }

            .far {
                font-size: 3.5rem;
                left: 42%;
                top: 0%;
            }

            .err2 {
                font-size: 4.5rem;
                left: 65%;
                top: -10%;
            }
            .msg {
                font-size: 1.6rem;
                left: 0%;
                top: 25%;
                width: 100%;
            }
            .mainbox {
                height: 250px;
                width:100%
            }
            .msg p {
                font-size: 1.2rem;
            }
        }
        @@media only screen and (max-width: 300px) {
            .err {
                font-size: 4.5rem;
                left: 25%;
                top: -10%;
            }

            .far {
                font-size: 3.5rem;
                left: 42%;
                top: 0%;
            }

            .err2 {
                font-size: 4.5rem;
                left: 65%;
                top: -10%;
            }

            .msg {
                font-size: 1.1rem;
                left: 0%;
                top: 28%;
                width: 100%;
            }

            .mainbox {
                height: 200px;
                width: 100%;
                margin-bottom:0px;
            }
            .msg p {
                font-size: 1.1rem;
            }
        }
    </style>
}
<div class="container mb-5 alert-dark" style="margin-top:200px">
    <div class="row">
        <div class="col d-flex justify-content-center align-items-center pt-5">
            <div class="mainbox d-flex align-items-center">
                <div class="err">4</div>
                <i class="far fa-question-circle fa-spin"></i>
                <div class="err2">4</div>
                <div class="msg">
                    يتعذر الوصول الى المتصفح. تأكد من اتصال جهازك بالانترنت . أو من الممكن عدم توفر الصفحة المطلوبه فى الوقت الحالى

                    <p>
                    يمكنك الذهاب
                    <a href="/home/index"> للرئيسية</a> 
                    و المحاولة مرة اخرى
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>